Package: com.kaxcav3357.testetweak
Name: TesteTweak
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: kaxcav
Author: kaxcav
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
